{% extends 'base.html' %}
{% block content %}
	{% include "header.html" %}
	<div class="products-wrap">
		<div class="products-intro" id="products-intro">
			<div class="products-content products-on">
				<div class="products-left">
					<div class="products-left-content">
						<h1>华师匣子</h1>
						<div class="products-des">
							<svg class="products-des-tag">
			                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tag">
			                    </use>
			                </svg>
			                <span class="products-des-txt">ios应用</span>
		                </div>
						<div>华师学子专属利器，具有查看课表、查询成绩等功能，轻松扫除在校疑难症</div>
						<button class="products-btn">下载地址</button>
					</div>
				</div>
				<div class="products-right"></div>
			</div>
			<div class="products-content">
				<div class="products-left">
					<div class="products-left-content">
						<h1>学而</h1>
						<div class="products-des">
							<svg class="products-des-tag">
			                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tag">
			                    </use>
			                </svg>
			                <span class="products-des-txt">ios应用</span>
		                </div>
						<div>华师学子专属利器，具有查看课表、查询成绩等功能，轻松扫除在校疑难症</div>
						<button class="products-btn">下载地址</button>
					</div>
				</div>
				<div class="products-right"></div>
			</div>
			<div class="products-content">
				<div class="products-left">
					<div class="products-left-content">
						<h1>木小犀</h1>
						<div class="products-des">
							<svg class="products-des-tag">
			                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tag">
			                    </use>
			                </svg>
			                <span class="products-des-txt">ios应用</span>
		                </div>
						<div>华师学子专属利器，具有查看课表、查询成绩等功能，轻松扫除在校疑难症</div>
						<button class="products-btn">下载地址</button>
					</div>
				</div>
				<div class="products-right"></div>
			</div>
		</div>
		<div class="products-bottom">
			<div class="products-controller">
				<div class="controller-btn btn-left" id="left-btn"></div>
				<div class="products-cnt-text" id="banner-controller">
					<div class="text" id="text">
						<div class="products-item products-item-center" id="ccnubox">华师匣子</div>
						<div class="products-item" id="xueer">学而</div>
						<div class="products-item" id="chatbot">木小犀</div>
					</div>
				</div>
				<div class="controller-btn btn-right" id="right-btn"></div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="/dist/products.js"></script>
{% endblock %}