
html{
    
    overflow-x: hidden; 
    overflow-y: auto;
    }
.intro-card{
    max-width: 133/1280*100vw;
    min-height: 202/700*100vh;
    background-color: rgb(55, 75, 84);
    border-radius:15%;
}
.intro-photo{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    // background-color: pink;
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
}
.intro-position{
    position: relative;
    top: 10px;
    left: 30px;
    width: 37px;
    height: 20px;
    background-color: rgb(253, 172, 31);
    color:white;
    border-radius: 50%;
    text-align: center;
}
.intro-name{
    margin-top: 25px;
    text-align: center;
}
.intro-tag{
    text-align: center;
}


.intro-card-containner{
    
    margin-left: 120/1280*100vw;
    max-height: 540px;
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.intro-card-father{
    margin-top: 40/700*100vh;
    width: 18%;
}
.intro-controller{
    position: fixed;
    bottom:10/700*100vh;
    right: 0;
    // top: 10/700*100vh;
    margin-top: 66/700*100vh;
    background-image: url('../../../static/image/foot.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
    height:89/700*100vh;
    width: 100%;
    
   
}
.controller-containner{
    //   margin-left:85/1280*100vw;
}
li{
 list-style:none;
 //margin-left: auto;
 text-align: center;
 //width: 18.5%;
//  margin-top: 3%;
// display: inline;
line-height:70/700*100vh; 
}

@media screen and (max-width:1024px) {
    li{
        width: 17.8%;
    }
}
@media screen and (min-width:1025px) and (max-width:1280px) {
    li{
        width: 18%;
    }
}
@media screen and (min-width:1281px) and (max-width:1440px) {
    li{
        width: 18.2%;
    }
}
@media screen and (min-width:1441px) and (max-width:1920px) {
    li{
        width: 18.5%;
    }
}
@media screen and (min-width:1921px) and (max-width:2560px) {
    li{
        width: 18.7%;
    }
}
@media screen and (min-width:2561px) and (max-width:3328px) {
    li{
        width: 19%;
    }
}
@media screen and (min-width:3329px) {
    li{
        width: 19.2%;
    }
}
.intro-tags{

 display: flex;
 width: 100%;

}


 .intro-card{
    
    transform: rotateY(0deg);
    transition: all 0.50s ease-in-out 0s;
}
// .intro-card:hover {
//     transform: rotateY(-90deg);
// }

.intro-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: rotateY(90deg);
    transition: all 0.50s ease-in-out 0s;
}

.intro-card-father:hover .intro-content{
    transform: rotateY(0deg);
}
li>a{
    font-size: 20px;
    cursor:pointer;
}
li>.onTag{
    font-size: 25px;
    color:rgb(250,174,28) ; 
    text-shadow:2px 2px 6px rgb(250,174,28), -1px -1px #FFF, 1px -1px #444;
}