.intro-card{
    width: 133/1280*100vw;
    height: 202/700*100vh;
    background-color: rgb(55, 75, 84);
    border-radius:15%;
}
.intro-photo{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: pink;
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.intro-position{
    position: relative;
    top: 10px;
    left: 30px;
    width: 37px;
    height: 17px;
    background-color: rgb(253, 172, 31);
    color:white;
    border-radius: 35%;

}
.intro-name{
    margin-top: 25px;
    text-align: center;
}
.intro-tag{
    text-align: center;
}