<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="木犀团队官网" />
    <meta name="keywords" content="木犀团队 华师 木犀团队官网 官网" />
    <meta name="Copyright" content="木犀团队" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="baidu-site-verification" content="sPf3zGeT1X" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <!--      -->
    {% block title %}{% endblock %}
  </head>

  <body>
    {% block body %} {% endblock %}

    <script src="/dist/common.js"></script>

    {% block script %}{% endblock %}
  </body>
</html>
