
<html>
		<head>
				<meta charset="UTF-8">
				<meta name = "description" content = "木犀团队官网">
				<meta name = "keywords" content="木犀团队 华师 木犀团队官网 官网">
				<meta name="Copyright" content = "木犀团队">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
				<title>木犀团队官网</title>
			</head>
	
	<body>
		<div id="root"></div>
	</body>
	
	   
	<script src="/dist/manifest.js"></script>
    
	<script src="/dist/vendor.js"></script>

	<script src="/dist/common.js"></script>
	{% block script %}
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
			  	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
		<% } %>
	{% endblock %} 
</html>
