.fallingLeaves span {
    
    -webkit-opacity: 0;
    opacity: 0;
    -moz-opacity:0;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -280px 60px 54px -34px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background:url("../../../static/image/logo.png");
    animation: fallingLeaves 2s infinite linear;
    -webkit-animation: fallingLeaves 5s infinite linear;
    -moz-animation: fallingLeaves 8s infinite linear;
}
.fallingLeaves span:nth-child(5n+5) {
    animation-delay:1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.fallingLeaves span:nth-child(3n+2) {
    animation-delay:1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.fallingLeaves span:nth-child(2n+5) {
    animation-delay:1.7s;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}
@keyframes fallingLeaves {
    0% {
      opacity: 0;
      transform:translate(0, 0px) rotateZ(0deg);
      -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
      opacity: 1;
      transform:  translate(100px, 600px) rotateZ(270deg);
      -webkit-transform: translate(100px, 600px) rotateZ(270deg); 
    }
    100% {
      opacity: 0;
      transform: translate(150px, 800px) rotateZ(360deg);
      -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
  }
@-webkit-keyframes fallingLeaves{
    0% {
      opacity: 1;
      transform: translate(0, 0px) rotateZ(0deg);
      -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
      opacity: 1;
      transform: translate(0, 0px) rotateZ(270deg);
      -webkit-transform: translate(100px, 600px) rotateZ(270deg); 
    }
    100% {
      opacity: 0;
      transform: translate(0, 0px) rotateZ(360deg);
      -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
  }