
@import "../../styles/base.scss";
html{
    
    overflow-x: hidden; 
    overflow-y: auto;
    }
 .join-word{
    line-height: 34/700*100vh;
    font-size: 18/1280*100vw;
    position: absolute;
    top: 155/700*100vh;
    left: 122/1280*100vw;
 }
// .background-img{
//     width: 100vw;
//     height: 100%;
//     position: absolute;
//     left: 198/1280*100vw;
//     top: 84/700*100vh;
// }
.background-star{
    position: absolute;
    left: 513/1280*100vw;
    top: 143/700*100vh;
    width: 709/1280*100vw;
    height: 428/700*100vh;


}
.background-button{
    position: absolute;
    left: 548/1280*100vw;
    top: 570/700*100vh;
}
.background-button-inner{
    width: 176/1280*100vw;
    height: 69/700*100vh;
    cursor: pointer;
}


