@import "../banner/banner.scss";
$group-count: 5;
$group-angle: 360deg / $group-count;
$group-adapt: 360deg / $group-count / 4;

.products-intro{
	width: 100%;
	height: 100%;
	position: relative;
}

.group-controller{
	position: absolute;
	left:50%; 
    top:50%;
    border-radius: 50%;
    transform:translate(-50%,-50%); 
    -webkit-transform:translate(-50%,-50%);
}


/* Respect Wheel */
.circle-menu li {
  list-style: none;
  display: inline;
}

.circle-menu {
    position: relative;
    width: 60px;
    height: 60px;
    border: solid 1px #cccccc;
    border-radius: 50%;
    transform: rotate(- $group-adapt * 2)
}

.circle-menu-round{
	position: relative;
	width:60px;
	height: 60px;
	top:0;
	left:0;
	transform:rotate(72deg * 5 + $group-adapt);
	.circle-menu-dot{
		position: absolute;
		width:8px;
		height: 8px;
		background-color: red;
		top:50%;
		left: 50%;
		transform:translate(-50%,-50%) translate(30px);
	}
}

.circle-menu a {
  display: block;
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 40px; 
  height: 40px;
  line-height:40px;
  margin: -20px;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

@for $i from 0 through $group-count - 1 { 
    .circle-menu-#{$i} { transform: rotate($group-angle * $i + $group-adapt) translate(60px) rotate(- $group-angle * $i + $group-adapt); }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

